# Python
__pycache__/
*.py[cod]
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Trained models
models/*
!models/.gitkeep

# MLflow
mlruns/

# Logs
*.log